body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.colored-header {
    background-color: #d8db34;
    color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.featured-movies {
    margin-top: 20px;
    text-align: center;
}



.movie-card {
    min-width: 700px; 
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.movie-carousel-container {
    position: relative;
    width: 600px; 
    margin: 20px auto;
    overflow: hidden; 
}

#movieCarousel {
    width: 100%; 
    display: flex; 
}

.movie-carousel {
    transition: transform 0.5s ease;
}






