body {
    
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    margin-top: 10px; /* Adjust the margin-top value as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city-input,
#searchBar {
    margin-right: 10px;
    padding: 10px; /* Adjust the padding value for consistency */
}

#city-search-button,
#searchButton {
    margin-top: 10px; /* Adjust the margin-top value as needed */
    padding: 10px;
}

.colored-header {
    background-color: rgb(72, 157, 255);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.featured-movies {
    margin-top: 20px;
    text-align: center;
}

.movie-card {
    min-width: 700px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 20px; /* Adjust the gap between cards as needed */
    margin-left: 130px;
    margin-right: -40px;
}

.movie-carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 10px; /* Adjust the margin-top value */
    margin-bottom: 20px; /* Adjust the margin-bottom value */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#movieCarousel {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; /* Show only one item at a time */
    overflow: hidden; /* Hide overflowing items */
}

.movie-carousel {
    transition: transform 0.5s ease;
    flex: 0 0 auto; /* Ensure each item has a fixed size */
    min-width: 100%; /* Each item takes the full width of the container */
}





button {
    background-color: rgb(79, 158, 248);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#movieModal.open {
    position: fixed;
    top: 38%;
    left: 40px;
    transform: translate(0, -40%);
    z-index: 100;
    max-width: 400px;
}

#modalContent {
    width: 300px;
    padding: 20px;
    font-size: 16px;
}

#modalTitle {
    font-size: 30px;
}

#modalOverview {
    font-size: 20px;
}

#modalReleaseDate {
    font-size: 16px;
}

.main-heading {
    color: #333;
    margin-bottom: 5px;
}

.product-card-thumbnail {
    display: block;
    position: relative;
}

.product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
}

.product-card-price {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
}

.product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
}

.product-card-colors {
    display: block;
    margin-top: 0.8rem;
}

.product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

   

    /* Add more responsive styles as needed */
}
