body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchBar {
    margin-right: 10px;
    padding: 10px;
}
#searchButton {
    margin-top: 10px;
    padding: 10px;
}

.colored-header {
    background-color: rgb(72, 157, 255);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
}

section.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-movies {
    margin-top: 20px;
    text-align: center;
}

.movie-card {
    min-width: 700px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: 130px;
    margin-right: -40px;
}

.movie-carousel-container {
    position: absolute;
    width: 100%;
    max-width: 600px;
    margin-top: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#movieCarousel {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.movie-carousel {
    transition: transform 0.5s ease;
    flex: 0 0 auto;
    min-width: 100%;
}

button {
    background-color: rgb(79, 158, 248);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#movieModal.open {
    position: fixed;
    top: 38%;
    left: auto; /* Set left to 'auto' to allow right positioning */
    right: 40px; /* Adjust the right position as needed */
    transform: translate(0, -40%);
    z-index: 100;
    max-width: 400px;
}

#modalContent {
    width: 300px;
    padding: 20px;
    font-size: 16px;
}

#modalTitle {
    font-size: 30px;
}

#modalOverview {
    font-size: 20px;
}

#modalReleaseDate {
    font-size: 16px;
}

.main-heading {
    color: #333;
    margin-bottom: 5px;
}
.yt-container {
    max-width: 100px; /* Adjust the max-width as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
    margin-right: auto;
}
.product-card {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    object-fit: contain;
}

.product-card-thumbnail {
    display: block;
    position: relative;
    object-fit: contain;
}

.product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
    white-space: wrap;
}

.product-card-rating {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
    text-align: left;
}

.product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
}

.product-card-colors {
    display: block;
    margin-top: 0.8rem;
}

.product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.material-symbols-outlined {
    color: red;
}

#movie-details-container {
    align-items: flex-start;
    padding-top: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    max-width: 50%;
    display: block;
    margin-right: auto;
}

#movie-details-container h2 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

#movie-details-container div {
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#movie-details-container::-webkit-scrollbar {
    display: none;
}

#addBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #007bff;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    /* Add more responsive styles as needed */
}
